@model uxsoft.Share.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}



<form asp-action="Upload" asp-controller="Home" asp-antiforgery="true" class="dropzone" id="dropzone">
       
</form>

<table class="table">
    <thead>
        <tr>
            <th>File</th>
        </tr>
        <tr>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Files)
        {
            <tr>
                <td>
                    <a asp-action="Download" asp-route-id="@file" asp-protocol="https">@file</a>
                </td>
                <td>
                    <a asp-action="DeleteFile" asp-route-id="@file">X</a>
                </td>
            </tr>
        }
    </tbody>
</table>
