@model uxsoft.Share.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<table>
    <tbody>
        @foreach (var file in Model.Files)
        {
            <tr>
                <td>
                    @file
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Upload" asp-controller="Home" asp-antiforgery="true" class="dropzone well" id="form-dropzone">
       
</form>